/#lab8.cpp#
/a.out
/hw_1
/hw_1.cpp~
/hw_2
/hw_2.cpp~
/hw_3
/hw_3.cpp~
/hw_4
/hw_4.cpp~
/hw_5
/hw_5.cpp~
/lab1
/lab2
/lab2.cpp~
/lab3
/lab3.cpp~
/lab4
/lab4.cpp~
/lab5
/lab5.cpp~
/lab6
/lab6.cpp~
/lab7
/lab7.cpp~
/lab8
/lab8.cpp~
/lab9
/lab9.cpp~
/p5.cpp~
/peas
/peas.cpp
/pizza
/pizza.cpp
/test.cpp
/test.cpp~